/* Navigation Section */

#navbar {
    flex-direction: column;
}

#navbar ul li a {
    padding: 0px 7px;
    padding: 8px;
    font-size: 1rem;
}


/* Home Section */

#home {
    height: 370px;
    padding: 2px 6px;
}

#home::before {
    height: 470px;
}

#home p {
    font-size: 12px;
}


/* Our Services */

#services {
    flex-direction: column;
}

#services .box {}


/* Clients Section */

#btn {
    padding: 0px 17px;
    margin: 10px;
    /* font-style: italic; */
    font-weight: bold;
    font-size: large;
    color: rgb(0, 0, 0);
    background-color: rgb(253, 252, 252);
    /* border: 2px solid brown; */
    border-radius: 9px;
    cursor: pointer;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url('https://michaelhyatt.com/wp-content/uploads/2010/06/iStock_000007346114Small.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

#client-section {
    height: 100%;
    position: relative;
    font-size: 1rem;
}

#clients {
    flex-wrap: wrap;
}

#clients img {
    width: 66px;
    height: 555px;
    padding: 0px;
    margin: -8px;
}


/* About*/

#Vission {
    padding: 0px 22px;
    height: 372px;
}

#Vissionp {
    font-family: 'Bree Serif', serif;
    font-size: small;
    justify-content: center;
    align-items: center;
}


/* <!-- Dev By Pratik Kumar --> */


/* Contact Us Section */

#contact-box form {
    width: 80%;
}


/* Footer Section */

#foot {
    margin-left: 50px;
    text-align: center;
}

#foot h4 {
    color: rgb(119, 228, 228);
    font-family: 'Bree Serif', serif;
    margin: 5px;
    font-size: small;
}

#foot p {
    font-family: 'Bree Serif', serif;
    margin: 5px;
    font-size: small;
}

footer {
    background-color: rgb(75, 71, 71);
    color: white;
}


/* utility class */

.h-primary {
    font-family: 'Bree Serif', serif;
    font-size: 26px;
    padding: 12px;
}

.h-secondary {
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
    padding: 12px;
}

.btn {
    font-size: 13px;
    padding: 4px 8px;
}

#last {
    text-align: center;
    margin: 18px;
    padding: 10px;
    font-family: 'Bree Serif', serif;
    color: rgb(222, 206, 242);
}